<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eventb.ui"
            class="uk.ac.southampton.ecs.gdp29.MyDiagramEditor"
            id="uk.ac.southampton.ecs.gdp29.view2"
            name="Project Diagram Viewer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="uk.ac.southampton.ecs.gdp29.BasicDiagramTypeProvider"
            context="org.eclipse.graphiti.ui.diagramEditor"
            id="uk.ac.southampton.ecs.gdp29.BasicDiagramTypeProvider"
            name="uk.ac.southampton.ecs.gdp29.BasicDiagramTypeProvider">
         <diagramType
               id="uk.ac.southampton.ecs.gdp29.myDiagramType">
         </diagramType>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            id="uk.ac.southampton.ecs.gdp29.myDiagramType"
            name="uk.ac.southampton.ecs.gdp29.myDiagramType"
            type="uk.ac.southampton.ecs.gdp29.myDiagramType">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.graphiti.ui.editor.DiagramEditor"
            extensions="diagram"
            icon="icons/sample.gif"
            id="uk.ac.southampton.ecs.gdp29.editors.DiagramEditor"
            name="Graphiti Diagram Editor">
      </editor>
   </extension>
   <extension point="org.eclipse.ui.menus">
	  <menuContribution
	        locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
	     <menu
	           id="uk.ac.southampton.ecs.gdp29.editors.GenerateDiagram"
	           label="Generate Diagram">
	     </menu>
	  </menuContribution>
	  <menuContribution
	        locationURI="popup:uk.ac.southampton.ecs.gdp29.editors.GenerateDiagram?after=additions">
	     <command
	           commandId="org.eclipse.commands.generateDiagram"
	           icon="icons/generate.gif"
	           label="Generate"
	           style="push">
	     </command>
	  </menuContribution>
	</extension>
   <extension
   		point="org.eclipse.ui.commands">
      <command
         categoryId="org.eclipse.ui.category.window"
         defaultHandler="uk.ac.southampton.ecs.gdp29.GenerateDiagram"
         id="org.eclipse.commands.generateDiagram"
         name="generateDiagram">
      </command>
   </extension>
</plugin>
